.button {
  grid-area: 4 / 2 / 5 / 3;
  width: 50%;
  position: relative;
  top: 10px;
}

.added-product {
  grid-area: 4 / 2 / 5 / 4;
  width: 50%;
  justify-self: end;
  color: #60bd4f;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 15px;
}
